.navbar{
    background-color: brown !important;
    border-bottom: 1px solid gray;
}

#home-section {
    background: url(./img/pexels-photo-51415.jpeg);
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#home-section .fa {
    color: #008ed6;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

.home-inner{
    padding-top: 150px;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}

.card-form {
    opacity: 0.5;
}